%body
  #container
    %table
      %tbody
        %th= "Email"
        %th= "Remove as Admin"
        - alter = true
        - @admins.each do |user|
          / Don't show current user
          - next if user.email == current_user.email
          - alter = !alter
          %tr{class:alter ? "alt" : nil}
            %td= user.email
            %td= link_to image_tag("red-x-icon.png"), revoke_path(id: user.id),:confirm => "Are you sure you want to remove #{user.email} as an admin?"
