#content
  %body
    = form_for @rating, :method => :put do
      %h1= "Edit review for #{@landlord.name}"
      %hr
      %table{:class => 'rate'}
        - Rating.categories.each do |cat|
          %tr
            %td
              = label cat, "#{cat.to_s.capitalize}:"
            %td
              - 5.times do |i|
                = radio_button :rating, cat, i+1
                = i+1
        %tr
          %td 
            = label :comment, 'Leave a comment'
          %td  
            = text_area :rating, :comment, :cols => 20, :rows => 5, :required => true, :maxlength => 400
         
      %br
      = submit_tag 'Update Review'
