
%body    
  #container
    #landlords
      %table
        %tbody
          %tr
            %th= "Name"
            %th= "Total"
            %th= "Helpfulness"
            %th= "Friendliness"
            %th= "Availability"
          - alter = true;
          - @landlords.each do |landlord|
            - alter = !alter
            %tr{class: alter ? "alt" : nil}
              %td= landlord.name
              - landlord.average_ratings.each do |column|
                %td= column
  %br
  #widget-wrap.group
  %footer.group
