
%body    
  #container
    #landlords   
      =link_to(image_tag("newlandlord.jpg"), "http://google.com") 
      %table
        %tbody
          %tr
            %th= "Name"
            %th= "Total"
            %th= "Helpfulness"
            %th= "Friendliness"
            %th= "Availability"
          - alter = true;
          - @landlords.each do |landlord|
            - alter = !alter
            %tr{class: alter ? "alt" : nil}
              %td= link_to(landlord.name, landlord_path(:id => landlord.id))
              - landlord.average_ratings.each do |column|
                %td= column
  %br
  #widget-wrap.group
  %footer.group
