%body    
  #container
    #content
      #landlords   
        - if current_user
          =link_to image_tag("landlord.png", :align => "right"), new_rating_path
          %br
          %br
          %br
        %form{:action => landlords_path, :method => 'get'}
          -if @search
            %input{:type => 'hidden', :name => 'search', :value => @search}
          =select_tag :sort, options_for_select(@sorts, @sort)
          =submit_tag 'Refresh', :name => nil
        = "Showing #{@range.begin}-#{@range.end} of #{@count}"
        %table
          %tbody
            %tr
              %th= "Name"
              %th Average
              - Rating.categories.each do |category|
                %th= category.to_s.capitalize
              - if admin?
                %th= "Delete"
            - alter = true
            - @landlords.each do |landlord|
              - alter = !alter
              %tr{:class => alter ? "alt" : nil}
                %td= link_to(landlord.name, landlord_path(:id => landlord.id))
                %td{:class => 'line'}
                  - landlord.average_rating.round.to_i.times do
                    %img(src='/assets/rating.png')
                  - (5-landlord.average_rating.round.to_i).times do
                    %img(src='/assets/rating_empty.png' class='opp')
                  = "(#{landlord.rating_count})"
                - landlord.average_ratings.each do |column|
                  %td= column.round(1)
                - if admin?
                  /TODO Make dialog Yes/No instead of Ok/Cancel
                  %td= link_to image_tag("x-icon.png"), landlord_path(landlord.id), :method => :delete, :confirm => "This will delete #{landlord.name} and all ratings associated with this landlord. This cannot be undone."

    %br
    #pagenums
      =pagify(@page, @page_count, :landlords_path, :search => @search, :sort => params[:sort])
    %br
