
%body    
  #container
    #landlords
      %table
        %tbody
          %tr
            %th= "Name"
            - Rating.categories.each do |category|
              %th= category.to_s.capitalize
            - if session[:admin]
              %th= "Delete"
          - alter = true;
          - @landlords.each do |landlord|
            - alter = !alter
            %tr{class: alter ? "alt" : nil}
              %td= landlord.name
              - landlord.average_ratings.each do |column|
                %td= column
              - if session[:admin]
                %td= link_to image_tag("red-x-icon.png"), landlord_path(landlord.id), :method => :delete, :confirm => 'Are you sure?'

  %br
  #widget-wrap.group
  %footer.group
