%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "/assets/landlorddetails.css", :rel => "stylesheet"}/
  %body    
    #container
      #name
        =@mylandlord.name
        - if admin?
          = link_to image_tag("x-icon.png"), landlord_path(:id => @mylandlord.id), :method => :delete, :confirm => "This will delete #{@mylandlord.name} and all ratings associated with this landlord. This cannot be undone."
      %br
      #reviewslist
        - Rating.categories.each_with_index do |cat, i|
          #listelem{:class => controller.get_color(@avg_reviews[i])}
            #listelemnum
              = @avg_reviews[i]
            = cat.to_s.capitalize
      %br
      %br
      %h3
        %center
          Reviews about #{@mylandlord.name}
      - if current_user
        - if @user_review
          You have already rated this landlord. 
          =link_to '[edit]', edit_rating_path(:id => @user_review.id)
          =link_to '[delete]', rating_path(@user_review.id), :method => :delete, :confirm => 'Delete your review? This cannot be undone.'
               
        - else
          = link_to image_tag("review.png"), new_rating_path(:id => @mylandlord.id)
        %br
        %br
      = "Showing #{@range.begin}-#{@range.end} of #{@count}"
      %hr
      %br
        #reviewcontainer
          - x=1
          - @reviews.each do |review|
            %table{:class => "show_ratings"}
              %thead
                %tr{:class => x.even? ? "greyback" : nil}
                  %td#reviewstats
                    =review.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%y")
                    %br
                    %br
                    #reviewnum
                      - Rating.categories.each do |cat|
                        = "#{cat.to_s.capitalize}:"
                        - review[cat].times do |x|
                          %img(src='/assets/rating.png')
                        - (5 - review[cat]).times do |x|
                          %img(src='/assets/rating_empty.png' class='opp')
                        %br
                  %td#reviewsum
                    #{review.comment} 
                  %td#reviewdelete
                    - if(admin? || (current_user && current_user.id == review.user_id))
                      =link_to image_tag("x-icon.png"),
                        rating_path(review.id),
                        :method => :delete,
                        :confirm => "Delete #{current_user && current_user.id == review.user_id ? 'your' : 'this'} review? This cannot be undone."
                  - x = x+1
      %br
      %br
      #pagenums
        =pagify(@page, @page_count, :landlord_path, :id => @mylandlord.id)
      %br
  #widget-wrap.group
