%html{lang: "en"}
	%head
		%meta{charset: "utf-8"}/
		%link{href: "/assets/landlorddetails.css", rel: "stylesheet"}/
	%body    
		#container
			#name
				=@mylandlord.name
				- if admin?
					= link_to image_tag("red-x-icon.png"), landlord_path(id: @mylandlord.id), :method => :delete, :confirm => "This will delete #{@mylandlord.name} and all ratings associated with this landlord. This cannot be undone."
			%br
			#reviewslist
				- Rating.categories.each_with_index do |cat, i|
					#listelem{class: @color_func.call(@avg_reviews[i])}
						#listelemnum
							= @avg_reviews[i]
						= cat.to_s.capitalize
			%br
			%br
			= link_to 'Add review', new_rating_path(id: @mylandlord.id)
			#reviewtitle
				Reviews about #{@mylandlord.name}
			%hr
			%br
				#reviewcontainer
					- x=1
					- @reviews.each do |review|
						%table
							%thead
								%tr{class: x.even? ? "greyback" : nil}
									%td#reviewstats
										=review.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%m-%d-%y")
										%br
										%br
										#reviewnum
											- Rating.categories.each do |cat|
												= "#{cat.to_s.capitalize}:"
												- review[cat].times do |x|
													%img(src='/assets/bearcat.png')
												- (5 - review[cat]).times do |x|
													%img(src='/assets/bearcat.png' class='opp')
									%td#reviewsum
										#{review.comment} 
									- if(admin? || ((current_user && current_user.id) == review.user_id))
										%td
											=link_to image_tag("red-x-icon.png"), rating_path(review.id), :method => :delete, :confirm => 'Are you sure?'
									- x = x+1
			%br
			%br
			#pagenums
				-if(@pagetotal >1)
					= link_to '<<', landlord_path(:page => 1, :id => @mylandlord.id)
					= link_to '>>', landlord_path(:page => 1, :id => @mylandlord.id)
			%br
	#widget-wrap.group
	%footer.group
