%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "/assets/landlorddetails.css", :rel => "stylesheet"}/
  %body    
    #content
      #name
        =@mylandlord.name
        - if admin?
          = link_to image_tag("x-icon.png"), landlord_path(:id => @mylandlord.id), :method => :delete, :confirm => "This will delete #{@mylandlord.name} and all ratings associated with this landlord. This cannot be undone."
      %br
      #reviewslist
        - Rating.categories.each_with_index do |cat, i|
          #listelem{:class => controller.get_color(@avg_reviews[i])}
            #listelemnum
              = @avg_reviews[i].round(1)
            = cat.to_s.capitalize
      %br
      - if admin?
        = form_tag merge_landlord_path(:id => params[:id]) do
          = label :landlord, 'Landlord:', :required => true
          = text_field :landlord, 'name', :required => 'required'
          = submit_tag 'Merge', :confirm => "This will delete #{@mylandlord.name} and move all ratings to the selected landlord. This cannot be undone"
      %br
      %h3
        %center
          Reviews about #{@mylandlord.name}
      - if current_user
        - if @user_review
          You have already rated this landlord. 
          =link_to '[edit]', edit_rating_path(:id => @user_review.id)
          =link_to '[delete]', rating_path(@user_review.id), :method => :delete, :confirm => 'Delete your review? This cannot be undone.'
              
        - else
          = link_to image_tag("review.png"), new_rating_path(:id => @mylandlord.id) 
        %br
        %br
      = "Showing #{@range.begin}-#{@range.end} of #{@count}"
      %hr
      %br
        #reviewcontainer
          - @reviews.each_with_index do |review, i|
            %table{:class => "show_ratings"}
              %thead
                %tr{:class => i.odd? ? "greyback" : nil}
                  %td#reviewstats
                    =time_format(review.created_at)
                    - if review.oldreview
                      %p
                        %a.text-right.boot-popup{:title => "RatemyLandlord has moved to a new review style"} This is an old review
                      #reviewnum
                        - Rating.questions.each do |cat|
                          - if review[cat] < 0
                            - next
                          = "#{cat.to_s.capitalize}:"[0..-4]
                          - review[cat].times do
                            %img(src='/assets/rating.png')
                          - (5 - review[cat]).times do
                            %img(src='/assets/rating_empty.png' class='opp')
                          %br
                    - else
                      #reviewnum
                        %br
                        - Rating.questions.each_with_index do |cat, i|
                          - dyn_title = { 0 => "general", 2 => "helpfulness", 4 => "professionalism", 6 => "credibility"}[i]
                          - if (i % 2) == 0
                            %h5.text-left= "#{dyn_title.capitalize}"
                          - popup = Rating.quesmap[cat]
                          %span.open-event{ :title => "#{popup}"}
                            = "Question #{i+1}"
                            - review[cat].times do
                              %img(src='/assets/rating.png')
                            - (5 - review[cat]).times do
                              %img(src='/assets/rating_empty.png' class='opp')
                            %br
                  %td#reviewsum
                    #{review.comment} 
                  %td#reviewdelete
                    - if(admin? || (current_user && current_user.id == review.user_id))
                      =link_to image_tag("x-icon.png"),
                        rating_path(review.id),
                        :method => :delete,
                        :confirm => "Delete #{current_user && current_user.id == review.user_id ? 'your' : 'this'} review? This cannot be undone."
      %br
      %br
      #pagenums
        =pagify(@page, @page_count, :landlord_path, :id => @mylandlord.id)
      %br
:javascript
  $.widget.bridge('uitooltip', $.ui.tooltip);
  $( ".open-event" ).uitooltip({
        track: true
  });
  $( ".boot-popup" ).tooltip({
  });
