!!! 5
%html
  %head
    %title Rate My Landlord
    %meta{charset: "utf-8"}/
    %link{href: "style.css", rel: "stylesheet"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body 
    #header-wrap
      %header.group
        %h2
          %a{href: "/", title: "burstudio"} Rate My Landlord
        #login
          -if session[:user]
            = "Logged in as #{session[:user]}"
            = link_to 'logout', logout_path(redirect: request.env['PATH_INFO'])
          -else
            = form_tag login_path(redirect: request.env['PATH_INFO']) do
              = label :login, :email, 'Bmail'
              = text_field :login, :email
              %br
              %br
              = label :login, :password, 'Password'
              = password_field :login, :password
              %br
              %input{:type => "submit", :value => "Login"}
        %nav.group
          %ul
            %li.home
              %a{href: "#", title: ""} Home
            %li
              %a{href: "#", title: ""} Landlords
            %li.last
              %div
                %input{name: "search", placeholder: "search", type: "text"}/
                %input.search{name: "search", type: "submit", value: "go"}/
    / end header wrap
    %br
    =yield

