!!! 5
%html
  %head
    %title Rate My Landlord
    %meta{charset: "utf-8"}/
    %link{href: "style.css", rel: "stylesheet"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body 
    #header-wrap
      %header.group
        %h2
          %a{href: "/", title: "burstudio"} Rate My Landlord
        #login
          %form{method: :post}

            = label :login, :email, 'Bmail'
            = text_field :login, :email

            = label :login, :password, 'Password'
            = password_field :login, :password

            %input{:type => "submit", :value => "Login"}
        %nav.group
          %ul
            %li.home
              %a{href: "#", title: ""} Home
            %li
              %a{href: "#", title: ""} Landlords
            %li.last
              %div
                %input{name: "search", placeholder: "search", type: "text"}/
                %input.search{name: "search", type: "submit", value: "go"}/
    / end header wrap
    %br
    =yield

