!!! 5
%html
  %head
    %title Rate My Landlord
    %meta{charset: "utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body 
    #header-wrap
      %header.group
        %h2
          %a{href: "/", title: "RateMyLandlord"} Rate My Landlord
        #login
          - if flash[:error]
            #error.message= flash[:error]
          -if current_user
            %br
        
 
            #login_info
              = "Signed in as #{current_user.name}"
              %br
              =button_to 'Logout', signout_path(redirect: request.env['PATH_INFO']), method: :get
          -else
            %br
            -if flash[:loginerror]
              #error.message= flash[:loginerror]
            = link_to image_tag('bmailsignin.png'), signin_path(redirect: request.env['PATH_INFO']), id: 'sign_in'
        %nav.group
          %ul
            %li.home
              =link_to 'Home', root_path
            %li
              =link_to 'Landlords', landlords_path
            %li
              =link_to 'About', about_path
            %li
              =link_to 'Contact', contact_path
            -if admin?
              %li
                =link_to 'Admin', admin_path
            %li.last
              %form{action: landlords_path, method: 'get'}
                %input{name: "search", placeholder: "search", type: "text"}/
                %input.search{type: "submit", value: "go"}/
    / end header wrap
    %br
    =yield

